Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     2
ColumnLimit:     100
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Allman
UseTab:          Never
TabWidth:        2
